# /requirements.txt

# Core dependencies
fastapi
uvicorn
requests
python-dotenv

# Database dependencies
sqlalchemy
psycopg2-binary
alembic

# Scraping dependencies
beautifulsoup4
selenium
lxml

# For Zip Code API
pandas
geopandas
shapely
folium
scikit-learn
numpy

# For Machine Learning APIs
openai

# Testing dependencies
pytest
pytest-cov